@import "./styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 25, 25, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.mobileMenuContainer {
  background-color: $white-color;
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-shadow: $myMenuBoxShadow;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  .mobileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: $myLightBoxShadow;
    font-size: 16px;

    p {
      flex-grow: 1;
      text-align: center;
    }

    button {
      background: none;
      border: none;
      svg {
        stroke: red;
      }
    }

    .closeButton {
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
      color: black;
    }
  }

  &.active {
    transform: translateX(0);
  }

  .menuContent {
    transition: transform 0.3s ease-in-out;
  }

  .sliding {
    transform: translateX(-100%);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 10px 10px;
    padding-left: 20px;
    box-shadow: $myLightBoxShadow;
    font-size: 14px;
    // &:hover {
    //   background-color: $grey-color;
    // }

    div {
      gap: 10px;
      display: flex;

      a {
        flex-grow: 1;

        span {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    button {
      background: none;
      border: none;
      color: $orange-color;
      font-weight: bolder;
      cursor: pointer;

      .svgIcon {
        fill: currentColor;
      }
    }
  }
}
