@import "./styles/variables";

.styledInfoMenu {
  p {
    a {
      text-decoration: none;
      padding-right: 10px;
      font-size: 0.81rem;
      font-weight: 700;
      color: $black-color;
      &:hover {
        color: $gold-color;
      }

      &:not(:last-child)::after {
        content: "|";
        padding: 0 4px;
      }
    }
  }
}
