@import "./styles/variables";

.subcategoryItem {
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //border: 1px solid #ddd;
  border-radius: $my-border-radius;
  //background-color: #f9f9f9;
  box-shadow: $myMenuBoxShadow;
  border: solid 1px transparent;

  img {
    // width: 60px;
    // height: 60px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .subcategoryName {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }

  &:hover {
    //background-color: #e0e0e0;
    border: solid 1px $gold-color;
  }
}
