.topBar {
  display: none;
  font-size: 13px;
  //font-weight: 400;
  position: relative;

  @media (min-width: 576px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 992px) {
    justify-content: flex-end;
    gap: 10px;
  }
}
