@import "./styles/variables";

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stars {
  color: $gold-color;
  font-size: $carousel-star-size;
  display: flex;
}

.star {
  margin-right: 1px;
}

.ratingCount {
  text-align: center;
  font-size: $carousel-review-font-size;
  font-weight: $carousel-review-font-weight;
  color: #666;
  margin-top: 5px;
}
