@import "./styles/variables";

.categoryItem {
  padding: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f9f9f9;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(203, 149, 64, 0.04) 99%
    );
    box-shadow: $myMenuBoxShadow;
    border-left: 3px solid $gold-color;
    //position: relative;
    z-index: 2000;
    //margin-right: -40px;
  }

  .categoryContent {
    display: flex;
    align-items: center;
    flex: 1;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      //border-radius: 50%;
    }
  }

  .subcategoryBlock {
    display: none;
    position: absolute;
    z-index: -1;
    //margin-left: 10px;
    top: 0;
    left: 100%;
    width: 800px;
    min-height: 100%;
    background-color: white;

    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: $myMenuBoxShadow;

    //border: 1px solid #ccc;
    z-index: 500;
    padding: 10px;
    box-sizing: border-box;
    border-radius: $my-border-radius;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
    }
  }

  &:hover .subcategoryBlock {
    display: block;
  }
}
