@import "./styles/variables";

.categoryItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  //position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    border-left 0.3s ease;

  .categoryContent {
    display: flex;
    align-items: center;
    flex: 1;
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }

  &.hovered {
    background-color: white;
    //box-shadow: $myMenuBoxShadow;
    border-left: 3px solid $gold-color;
    border-bottom: 1px solid $dark-grey-color;
    border-top: 1px solid $dark-grey-color;
    //margin-right: -40px;
    z-index: 9999 !important; // Make sure this is higher than the submenu
  }

  .subcategoryBlock {
    position: absolute;
    top: 0;
    left: 100%;
    width: 800px;
    background-color: white;
    min-height: 100%;
    box-shadow: $myMenuBoxShadow;
    padding: 10px;
    box-sizing: border-box;
    border-radius: $my-border-radius;
    list-style: none;
    display: none;
    margin-left: -1px;
    z-index: -1 !important; // Lower z-index to place behind the category item

    &.visible {
      display: block;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;

      // transition: 0.3s ease;

      .subcategoryItem {
        padding: 10px;
        margin: 5px;
        transition: background-color 0.3s ease;
        text-align: center;
        flex: 1 1 calc(25% - 20px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //border: 1px solid #ddd;
        border-radius: $my-border-radius;
        //background-color: #f9f9f9;
        box-shadow: $myMenuBoxShadow;
        border: solid 1px transparent;

        img {
          //width: 80px;
          object-fit: contain;
          margin-bottom: 8px;
          border-radius: 4px;
        }

        &:hover {
          //background-color: #e0e0e0;
          border: solid 1px $gold-color;
        }
      }
    }
  }
}
