@import "./styles/variables";

.contentWrapperHead {
  background-color: $grey-color;
  box-shadow: $myInsetBoxShadow;
  padding: 10px 0;

  a {
    color: $orange-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  .categoryText {
    font-weight: $category-description-weight;
    margin-bottom: 10px;
  }

  .element {
    //margin-left: -40px;
    padding-left: 0 !important;
    display: flex;
    flex-grow: 1;
    ul {
      list-style-type: none;
      padding: 0;

      display: flex;
      gap: 10px;

      li {
        background-color: white;
        padding: 5px;
        font-size: $help-element;
        font-weight: $help-element-weight;
        font-family: $help-element-font;
        margin-top: 20px;
        &::before {
          content: "?";
          color: $orange-color;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }

  .buttonWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    // margin-top: 5px;

    //border-top: solid 1px;
    &::after {
      content: "";
      width: 100%;
      border-top: 2px dotted $darker-grey-color;
      position: absolute;
      bottom: 12px;
      left: 0;
      z-index: 0;
    }
    .descriptionToggleButton {
      border: none;
      background-color: $grey-color;
      display: flex;
      z-index: 1;

      svg {
        fill: $orange-color;
      }

      .arrowIcon.opened {
        transform: rotate(180deg);
      }
    }
  }
}

.subcategoryCard {
  background-color: $white-color;
  border-radius: $my-border-radius;
  box-shadow: $myMediumBoxShadow;
  text-align: center;
  padding: 10px;

  //padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: $myHoverBoxShadow;
  }
}

.subcategoryImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
  //margin-bottom: 10px;
  //border-radius: 4px;
}

.subcategoryName {
  font-size: $category-products-headings;
  font-weight: $category-products-headings-weight;
  //color: $primary-color;
  //margin: 8px 0 0;
}

.topProducts {
  margin: 10px 0;

  .topHeading {
    padding: 5px 0;
  }

  .productCard {
    background-color: $white-color;
    box-shadow: $myMediumBoxShadow;
    border-radius: $my-border-radius;
    margin-bottom: 10px;
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;

    @media (min-width: 576px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .productImage {
      object-fit: contain;
    }

    .productText {
      margin-left: 10px;
      flex-grow: 1;

      .productName {
        font-size: $category-top-seller-heading;
        font-weight: $category-top-seller-heading-weight;
      }

      .productDescription {
        font-size: $category-top-seller-description;
        font-weight: $category-top-seller-description-weight;
      }
    }

    .productPrice {
      display: flex;
      margin-top: 10px;
      justify-content: center;
      color: $orange-color;

      @media (min-width: 576px) {
        margin-top: 0;
        justify-content: flex-end;
      }
    }
    &:hover {
      transform: translateY(-1px);
      box-shadow: $myHoverBoxShadow;
    }
  }
}
