// color variables
$gold-color: #cb9540;
$dark-red-color: #c42b2b;
$white-color: #fff;
$orange-color: #ff4500;
$black-color: #333;
$myLightBoxShadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
$myMediumBoxShadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
  rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$myHeavyBoxShadow: rgba(50, 50, 93, 0.25) 0px 2px 4px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

// general variables
$my-border-radius: 4px;

// header only variables
$header-top-padding: 8px;
$header-bottom-padding: 15px;

$header-icon-color: #444;
$header-icon-bottom-padding: 16px;
$header-icon-size: 25px;
$header-icon-border: 1px solid #d7d7d7;

$searchbar-button-radius: 16px;
